<header>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
      <label for="email">Email Address:</label>
      <input
        class="form-control"
        name="username"
        type="email"
        placeholder="Enter email"
        style="width: 300px; margin: 1em;"
      />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</header>
