<h1>TODO List</h1>

<body>
  <%- include('partials/_header') %>

  <main style="margin: 1em;">
    <main>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tasks</th>
          </tr>
        </thead>

        <tbody>
          <% for(let list in lists) { %>
          <tr>
            <!-- <td><%= list %></td> -->
            <td><%= lists[list].name %></td>

            <td>
              <a href="/todo/<%= list %>">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="
                    background-color: white;
                    border-color: blue;
                    color: blue;
                  "
                >
                  Select
                </button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
  </main>
</body>
