<body>
  <%- include('partials/_header') %>

  <h5><%= user %></h5>

  <h3>Login</h3>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
      <label for="email">Email Address:</label>
      <input
        class="form-control"
        name="email"
        type="email"
        placeholder="Enter email"
        style="width: 300px; margin: 1em;"
      />

      <label for="password">Password:</label>
      <input
        class="form-control"
        name="password"
        type="password"
        placeholder="Password"
        style="width: 300px; margin: 1em;"
      />

      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</body>
